// Hero
.hero-section {
    padding: 200px 0 150px;
    background-image: url(../../assets/images/banner-img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #000000 -14.84%, rgba(0, 0, 0, 0.65) 59%, #000000 107.59%);
    }
}

.featured-breeds-slider {
    .owl-carousel {
        z-index: inherit;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* For Firefox */
    appearance: textfield;
    /* For other browsers */
}

/* Optional: Remove the default border or add custom styles */
input[type="number"] {
    border: none;
    outline: none;
}

.grid-filter {
    background-color: $white;
    padding: 13px 16px;
    border-radius: 100px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid $border-color;

    .breed,
    .sex,
    .breed,
    .age,
    .price-range,
    .state {
        padding: 0 14px;
    }

}

.grid-filter,
.grid-filter-mobile {

    input,
    select,
    input:focus,
    select:focus {
        background-color: $white;
        border-radius: 0;
    }
}

.sex,
.age {
    .form-select {
        background-image: none;
    }
}

.irs--round .irs-bar {
    background-color: $primary;
}

.irs--round .irs-handle {
    background-color: $primary;
    border-color: $primary;
    box-shadow: 0px 0px 0px 5px rgb(232 131 37 / 20%);
}

.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
    background-color: $primary;
}

.irs--round .irs-handle {
    width: 16px;
    height: 16px;
    top: 29px;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
    background-color: transparent;
    color: $dark;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before,
.irs--round .irs-min,
.irs--round .irs-max {
    display: none;
}

.featured-breeds-img {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.featured-breeds-img:hover img {
    transform: scale(1.2);
}

.featured-breeds-img::before {
    content: '';
    padding-top: 100%;
    display: block;
}

.featured-breeds-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    transition: all .3s;
}

.puppy-spotlight-item {
    background-color: $white;
    border: 1px solid $border-color;
}


.top-picks-slider {
    #sync1 {
        .owl-item {
            overflow: hidden;
            position: relative;
            border-radius: var(--bs-border-radius-sm);

            .item {
                transition: all 0.3s;

                &::before {
                    content: "";
                    padding-top: 79%;
                    display: block;
                }

                &:hover {
                    transform: scale(1.2);
                }

                &>img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    will-change: transform;
                    transition: all 0.3s;
                }
            }
        }
    }

    #sync2 {
        .owl-stage {
            display: flex;
            align-items: center;
        }

        .owl-item {
            border: 3px solid transparent;
            cursor: pointer;

            &.current {
                border-color: $primary;
            }
        }

        .owl-item,
        .item {
            width: 90px !important;
            height: 90px !important;
            flex-shrink: 0;
            overflow: hidden;
            border-radius: var(--bs-border-radius-sm);
        }
    }
}

.trusted-breeders-img,
.puppy-spotlight-img {
    transition: all 0.3s;
    cursor: pointer;

    img {
        transition: all 0.3s;
    }

    &:hover {
        &>img {
            transform: scale(1.2);
        }
    }
}

.bringing-through-puppies-blog {
    transition: all 0.3s;

    &::before {
        content: "";
        padding-top: 111%;
        display: block;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &:hover>img {
        transform: scale(1.2);
    }

    &>img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        will-change: transform;
        transition: all 0.3s;
    }
}

.footer-memu {
    li {
        a {
            color: rgba(255, 255, 255, 0.8);
            transition: all 0.3s;

            &:hover {
                color: $primary;
            }
        }
    }
}



// Select2 Css

body {
    .select2-container .select2-search--inline .select2-search__field {
        font-family: inherit;
    }

    .select2-container--default .select2-search--dropdown .select2-search__field,
    .select2-dropdown,
    .select2-container--default.select2-container--focus .select2-selection--multiple,
    .select2-container--classic .select2-search--dropdown .select2-search__field {
        border: 1px solid $input-border-color;
    }

    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--multiple,
    .select2-container--classic .select2-selection--single {
        border-radius: var(--bs-border-radius-lg);
    }

    .select2-container--classic .select2-selection--single,
    .select2-container--classic .select2-selection--single .select2-selection__arrow {
        background-color: var(--bs-white);
        background-image: unset !important;
    }

    .select2-container--classic .select2-selection--single .select2-selection__arrow {
        border: 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow,
    .select2-container--classic .select2-selection--single .select2-selection__arrow {
        top: -2px;
        right: 20px;
        width: auto;
    }

    .select2-container .select2-search--inline .select2-search__field {
        height: 30px;

        &::placeholder {
            color: var(--bs-body-color);
        }
    }

    .select2-container {
        .flag-icon {
            margin-right: 6px;
        }
    }

    .select2-container--default .select2-results__option--selected,
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: var(--bs-primary);
        color: var(--bs-white);
    }

    .select2-results__option {
        padding: 8px 10px;
    }

    .select2-container--default.select2-container--disabled .select2-selection--multiple {
        background-color: var(--bs-light);
    }

    .select2-container--classic .select2-selection--single,
    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .select2-container--default .select2-selection--single .select2-selection__arrow,
    .select2-container--default .select2-selection--multiple,
    .select2-container--classic .select2-selection--single .select2-selection__arrow,
    .select2-container--classic .select2-selection--single .select2-selection__rendered {
        border-color: $input-border-color;
        color: var(--bs-body-color);
        height: 40px;
        line-height: 40px;
    }

    .select2-container--default .select2-selection--multiple {
        line-height: 27px;
        height: auto;
    }

    .select2-container--classic .select2-selection--multiple .select2-selection__choice,
    .select2-container--default .select2-selection--multiple .select2-selection__choice,
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
        color: $white;
    }

    .select2-container {
        display: inline;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        border-radius: var(--bs-border-radius-lg);
    }
}




// --------------------------------
// --------- Breeds Css -----------
// --------------------------------

.choose-breeds-tab {
    .nav {
        gap: 8px;

        .nav-item {
            .nav-link {
                color: $dark;
                font-weight: 600;
                font-size: 16px;
                width: 44px;
                height: 44px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 8px;
                border: 1px solid rgba(8, 49, 78, 0.1);

                &.active {
                    color: $white;
                }

                &:hover {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            .breeds-items {
                transition: all .3s ease-in-out;

                &:hover {
                    background: rgba(8, 49, 78, 0.05);
                }
            }
        }
    }
}


.hero-section-inner-slider {
    .owl-carousel {
        .owl-item {
            .item {
                min-height: 482px;
                position: relative;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, #000000 3.34%, rgba(0, 0, 0, 0.1) 59%, #000000 93.78%);
                }
            }
        }

        .owl-dots {
            position: absolute;
            bottom: 50px;
            right: 16%;
            display: flex;
            align-items: center;
            gap: 4px;

            .owl-dot {
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: rgba(255, 255, 255, 0.6);

                &.active {
                    background-color: $primary;
                }
            }
        }
    }
}


.pagination {
    .page-item {
        .page-link {
            font-weight: 600;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--bs-border-radius);
        }
    }
}





// --------------------------------
// ------ Breeds Detail Css -------
// --------------------------------

.golden-retriever {
    .top-picks-slider {
        #sync1 {
            .owl-item {
                .item {
                    &::before {
                        padding-top: 100%;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }
    }
}



// --------------------------------
// ----- Breeders Detail Css ------
// --------------------------------

.breeders-detail {
    background-image: url(../../assets/images/breeds-slider/hero-inner-slider-3.jpg);
}

.andrews-reviews-sloder {
    .owl-carousel {
        .owl-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 11px;
            gap: 8px;
            width: fit-content;
            margin: 0 auto;
            background: rgba(8, 49, 78, 0.1);
            border-radius: 999px;

            .owl-dot {
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background: rgba(8, 49, 78, 0.2);

                &.active {
                    background: $dark;
                }
            }
        }
    }
}

.breeders-insight {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.breeders-detail-img,
.breeders-insight,
.gallery,
.information-img {
    transition: all 0.3s;
    cursor: pointer;

    img {
        transition: all 0.3s;
    }

    &:hover {
        &>img {
            transform: scale(1.2);
        }
    }
}

.post-reviews {
    textarea {
        border-radius: 4px;
        padding: 16px;
        color: rgba(8, 49, 78, 0.6);
        background: rgba(8, 49, 78, 0.05);
        border: 1px solid rgba(8, 49, 78, 0.1);
    }

    ::placeholder {
        color: rgba(8, 49, 78, 0.6);
    }
}






// --------------------------------
// ----- Information Css ------
// --------------------------------


.information-header {
    position: relative;
    background-color: rgba(4, 23, 37, 1);
}

.breadcrumb-item+.breadcrumb-item::before {
    line-height: normal;
}

.accordion {
    .accordion-item {
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 12px;
        border: 1px solid rgba(8, 49, 78, 0.1) !important;

        &:last-child {
            margin-bottom: 0;
        }

    }
}



// --------------------------------
// ----- Login Css ------
// --------------------------------

.login-bg {
    background-color: rgba(0, 122, 255, 0.05);

    .card {
        max-width: 1140px;
        margin: 0 auto;
        width: 100%;
        filter: drop-shadow(0px 8px 24px rgba(149, 157, 165, 0.2));

        .login-info {
            max-width: 410px;
            margin: 0 auto;
        }

        .login-right-bg {
            position: relative;
            background: linear-gradient(212.95deg, #75B7FF -22.49%, #298FFF 96.67%);

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -20%;
                right: -20%;
                height: 100%;
                background-image: url(../../assets/images/shape/login-shape.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right;
            }

            .login-right-card {
                max-width: 360px;
                width: 100%;
            }
        }

        .signup-right-bg {
            background: linear-gradient(212.95deg, #92E2A6 -22.49%, #55D375 96.67%);

            &::before {
                background-image: url(../../assets/images/shape/login-shape-2.png);
            }
        }
    }
}



// --------------------------------
// ----- List Ur Puppy Css ------
// --------------------------------

.upload-details {

    .dropzone {
        min-height: 80px;
        border: 1px dashed $primary;
        border-radius: 8px;

        .dz-message {
            margin: 16px 0;

            .dz-button {
                color: $dark;
                font-weight: 500;
            }
        }
    }
}


// --------------------------------
// ----- Contact us Css ------
// --------------------------------

.contact-us{
    background-image: url(../../assets/images/contact/contact-bg.jpg);
}

.get-in-touch{

    @include media-breakpoint-down(lg){
        .border-end{
            border-right: 0 !important;
        }
    }
}

// --------------------------------
// ----- Subscription Plan Css ------
// --------------------------------

.subscription-plans-bg{
    background-image: url(../../assets/images/subscription-plans/subscription-plans-bg.jpg);
}


.subscription-plans-box{
    &:hover{
        border: 1px solid $info !important; 
    }
}