// Hero
.hero-section {
    padding: 200px 0 150px;
    background-image: url(../../assets/images/banner-img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #000000 -14.84%, rgba(0, 0, 0, 0.65) 59%, #000000 107.59%);
    }
}

.featured-breeds-slider {
    .owl-carousel {
        z-index: inherit;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* For Firefox */
    appearance: textfield;
    /* For other browsers */
}

/* Optional: Remove the default border or add custom styles */
input[type="number"] {
    border: none;
    outline: none;
}

.grid-filter {
    background-color: $white;
    padding: 13px 16px;
    border-radius: 100px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid $border-color;

    .breed,
    .sex,
    .breed,
    .age,
    .price-range,
    .state {
        padding: 0 14px;
    }
}

.sex,
.age {
    .form-select {
        background-image: none;
    }
}

.irs--round .irs-bar {
    background-color: $primary;
}

.irs--round .irs-handle {
    background-color: $primary;
    border-color: $primary;
    box-shadow: 0px 0px 0px 5px rgb(232 131 37 / 20%);
}

.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
    background-color: $primary;
}

.irs--round .irs-handle {
    width: 16px;
    height: 16px;
    top: 29px;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
    background-color: transparent;
    color: $dark;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before,
.irs--round .irs-min,
.irs--round .irs-max {
    display: none;
}

.featured-breeds-img {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.featured-breeds-img:hover img {
    transform: scale(1.2);
}

.featured-breeds-img::before {
    content: '';
    padding-top: 100%;
    display: block;
}

.featured-breeds-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    transition: all .3s;
}

.puppy-spotlight-item {
    background-color: $white;
    border: 1px solid $border-color;
}


.top-picks-slider {
    #sync1 {
        .owl-item {
            overflow: hidden;
            position: relative;
            border-radius: var(--bs-border-radius-sm);

            .item {
                transition: all 0.3s;

                &::before {
                    content: "";
                    padding-top: 79%;
                    display: block;
                }

                &:hover {
                    transform: scale(1.2);
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    will-change: transform;
                    transition: all 0.3s;
                }
            }
        }
    }

    #sync2 {
        .owl-stage {
            display: flex;
            align-items: center;
        }

        .owl-item {
            border: 3px solid transparent;
            cursor: pointer;

            &.current {
                border-color: $primary;
            }
        }

        .owl-item,
        .item {
            width: 90px !important;
            height: 90px !important;
            flex-shrink: 0;
            overflow: hidden;
            border-radius: var(--bs-border-radius-sm);
        }
    }
}

.trusted-breeders-img, .puppy-spotlight-img{
    transition: all 0.3s;
    cursor: pointer;

    img {
        transition: all 0.3s;
    }

    &:hover {
        & > img {
            transform: scale(1.2);
        }
    }
}

.bringing-through-puppies-blog {
    transition: all 0.3s;

    &::before {
        content: "";
        padding-top: 111%;
        display: block;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &:hover>img {
        transform: scale(1.2);
    }

    &>img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        will-change: transform;
        transition: all 0.3s;
    }
}

.footer-memu {
    li {
        a {
            color: rgba(255, 255, 255, 0.8);
            transition: all 0.3s;

            &:hover {
                color: $primary;
            }
        }
    }
}









// --------------------------------
// --------- Breeds Css -----------
// --------------------------------

.choose-breeds-tab{
    .nav{
        gap: 8px;
        .nav-item{
            .nav-link{
                color: $dark;
                font-weight: 600;
                font-size: 16px;
                width: 44px;
                height: 44px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 8px;
                border: 1px solid rgba(8, 49, 78, 0.1);

                &.active{
                    color: $white;
                }

                &:hover{
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }
    .tab-content{
        .tab-pane{
            .breeds-items{
                transition: all .3s ease-in-out;

                &:hover{
                    background: rgba(8, 49, 78, 0.05);
                }
            }
        }
    }
}


.hero-section-inner-slider{
    .owl-carousel{
        .owl-item{
            .item{
                min-height: 482px;
                position: relative;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, #000000 3.34%, rgba(0, 0, 0, 0.1) 59%, #000000 93.78%);
                }
            }
        }
        .owl-dots{
            position: absolute;
            bottom: 50px;
            right: 16%;
            display: flex;
            align-items: center;
            gap: 4px;

            .owl-dot{
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: rgba(255, 255, 255, 0.6);

                &.active{
                    background-color: $primary;
                }
            }
        }
    }
}


.pagination {
    .page-item{
        .page-link{
            font-weight: 600;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--bs-border-radius);
        }
    }
}